NodeRed/海尔设备接入/海尔NodeRed.json
[
    {
        "id": "7cc07217eb2ae103",
        "type": "haier-roboot",
        "z": "f6f2187d.f17ca8",
        "haier": "af1506d3a6f64576",
        "name": "主卧空调",
        "message": "打开主卧空调",
        "x": 380,
        "y": 800,
        "wires": [
            [
                "df1e01ebd7104001",
                "f191511523e4452f"
            ]
        ]
    },
    {
        "id": "451421f010dc6e18",
        "type": "haier-roboot",
        "z": "f6f2187d.f17ca8",
        "haier": "af1506d3a6f64576",
        "name": "主卧空调",
        "message": "",
        "x": 540,
        "y": 1240,
        "wires": [
            [
                "5b442e347240ba70",
                "773bc0664193e467",
                "e951737308b348ec",
                "9b3077e1fcb79716",
                "0e5598572970faa4"
            ]
        ]
    },
    {
        "id": "08555445893e7ab3",
        "type": "haier-roboot",
        "z": "f6f2187d.f17ca8",
        "haier": "af1506d3a6f64576",
        "name": "主卧空调",
        "message": "关闭主卧空调",
        "x": 380,
        "y": 960,
        "wires": [
            [
                "df1e01ebd7104001",
                "05a0ccaeafef423b"
            ]
        ]
    },
    {
        "id": "39492c8b8052270b",
        "type": "haier-roboot",
        "z": "f6f2187d.f17ca8",
        "haier": "af1506d3a6f64576",
        "name": "主卧空调",
        "message": "主卧空调现在温度",
        "x": 880,
        "y": 1400,
        "wires": [
            [
                "e23c56572be5a33b",
                "53d14c83f780559b",
                "47995a38a3e8be24"
            ]
        ]
    },
    {
        "id": "6ccb73c27ada65f3",
        "type": "haier-roboot",
        "z": "f6f2187d.f17ca8",
        "haier": "af1506d3a6f64576",
        "name": "主卧空调",
        "message": "主卧空调模式是什么",
        "x": 880,
        "y": 940,
        "wires": [
            [
                "40cfc535524e504e"
            ]
        ]
    },
    {
        "id": "3eaa204e3fd6d84b",
        "type": "haier-roboot",
        "z": "f6f2187d.f17ca8",
        "haier": "af1506d3a6f64576",
        "name": "燃气热水器",
        "message": "燃气热水器当前状态",
        "x": 730,
        "y": 440,
        "wires": [
            [
                "8f8ea571a8fbc5c3",
                "5cf85cc66457a983",
                "05675f2ba05bc95b",
                "88f6fef773e64cc4"
            ]
        ]
    },
    {
        "id": "3959122eb8c483c5",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "当前状态",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 240,
        "y": 360,
        "wires": [
            [
                "a2e477b698d2a7d1"
            ]
        ]
    },
    {
        "id": "8f8ea571a8fbc5c3",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "开关机判断",
        "property": "payload.response",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "开机",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "关机",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 950,
        "y": 660,
        "wires": [
            [
                "a198389c43c3d9f5"
            ],
            [
                "034acbe6cb288bbc"
            ]
        ],
        "outputLabels": [
            "0",
            null
        ]
    },
    {
        "id": "23ced007c0e98706",
        "type": "haier-roboot",
        "z": "f6f2187d.f17ca8",
        "haier": "af1506d3a6f64576",
        "name": "燃气热水器",
        "message": "关闭燃气热水器",
        "x": 510,
        "y": 260,
        "wires": [
            [
                "1455df49db055a1e"
            ]
        ]
    },
    {
        "id": "406185c24dc45a79",
        "type": "haier-roboot",
        "z": "f6f2187d.f17ca8",
        "haier": "af1506d3a6f64576",
        "name": "燃气热水器",
        "message": "打开燃气热水器",
        "x": 510,
        "y": 220,
        "wires": [
            [
                "1455df49db055a1e"
            ]
        ]
    },
    {
        "id": "d94a941df1d5b9e1",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "返回开关机状态",
        "topic": "/rsq/onoff/state",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "97c25802c1ec6779",
        "x": 1420,
        "y": 660,
        "wires": []
    },
    {
        "id": "a198389c43c3d9f5",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "开机",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 640,
        "wires": [
            [
                "d94a941df1d5b9e1"
            ]
        ]
    },
    {
        "id": "034acbe6cb288bbc",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "关机",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 680,
        "wires": [
            [
                "d94a941df1d5b9e1"
            ]
        ]
    },
    {
        "id": "d092921a1280ca48",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "获取开关机命令",
        "topic": "/rsq/onoff/cmd",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "97c25802c1ec6779",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 240,
        "wires": [
            [
                "a29e944d5119e716"
            ]
        ]
    },
    {
        "id": "a29e944d5119e716",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 240,
        "wires": [
            [
                "406185c24dc45a79"
            ],
            [
                "23ced007c0e98706"
            ]
        ]
    },
    {
        "id": "23c2ffca906b577c",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "返回热水器设定温度",
        "topic": "/rsq/wd",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "97c25802c1ec6779",
        "x": 1400,
        "y": 300,
        "wires": []
    },
    {
        "id": "5cf85cc66457a983",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload.response",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "温度",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 930,
        "y": 600,
        "wires": [
            [
                "dd5dfaeb43713c0d"
            ]
        ]
    },
    {
        "id": "dd5dfaeb43713c0d",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "精简文字",
        "rules": [
            {
                "t": "change",
                "p": "payload.response",
                "pt": "msg",
                "from": "/ù让小优看看，",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload.response",
                "pt": "msg",
                "from": "/ù小优为你查到，",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload.response",
                "pt": "msg",
                "from": "燃气热水器当前为开机,",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload.response",
                "pt": "msg",
                "from": "度",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload.response",
                "pt": "msg",
                "from": "燃气热水器现在是开机状态,",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload.response",
                "pt": "msg",
                "from": "/ù当前温",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload.response",
                "pt": "msg",
                "from": "为",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 600,
        "wires": [
            [
                "59febfd3da899fa7"
            ]
        ]
    },
    {
        "id": "6697bbb486932bae",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "组合tts",
        "func": "msg.payload = \"热水器温度设置为\" + msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 400,
        "wires": [
            [
                "47bfbfa212558c46"
            ]
        ]
    },
    {
        "id": "47bfbfa212558c46",
        "type": "haier-roboot",
        "z": "f6f2187d.f17ca8",
        "haier": "af1506d3a6f64576",
        "name": "燃气热水器",
        "message": "",
        "x": 510,
        "y": 400,
        "wires": [
            [
                "a2e477b698d2a7d1"
            ]
        ]
    },
    {
        "id": "20151b03fb3f0465",
        "type": "haier-roboot",
        "z": "f6f2187d.f17ca8",
        "haier": "af1506d3a6f64576",
        "name": "主卧空调",
        "message": "主卧空调风速是什么",
        "x": 875.0000686645508,
        "y": 1102.5000114440918,
        "wires": [
            [
                "e80cf07fadd8ff0d",
                "6717acb862d00b4d"
            ]
        ]
    },
    {
        "id": "e80cf07fadd8ff0d",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "风速判断",
        "property": "payload.response",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "低",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "中",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "高",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "自动",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1015.0000686645508,
        "y": 1102.5000114440918,
        "wires": [
            [
                "1354435701aee430",
                "c67fe5f61ab45106"
            ],
            [
                "e03640967df824e2",
                "b09d2dc7d36e957e"
            ],
            [
                "be88283184f1fc9b",
                "3a711cd2a7eb779b"
            ],
            [
                "46ef603c9e1c149a",
                "2210bab82fd435b2"
            ]
        ]
    },
    {
        "id": "8b5368a9653c90b2",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "主卧空调当前风速",
        "topic": "/zwkt/fskp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "97c25802c1ec6779",
        "x": 1610,
        "y": 1080,
        "wires": []
    },
    {
        "id": "40cfc535524e504e",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "模式判断",
        "property": "payload.response",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "制冷",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "制热",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "除湿",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "送风",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "智能",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 1020,
        "y": 940,
        "wires": [
            [
                "22fa5ad8c81c3b00",
                "b3c2cc90b74e0c5f"
            ],
            [
                "d981c2a9799ff794",
                "f631e032895f94b4"
            ],
            [
                "f60dd84faa40b554",
                "6be2b94964ce9372"
            ],
            [
                "1887aaee27b5235e",
                "9fa34043c135a1a2"
            ],
            [
                "dda6913c14bd99f2",
                "c97b9b55c325f8df"
            ]
        ]
    },
    {
        "id": "afe38cd9997ee80f",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "主卧空调当前模式",
        "topic": "/zwkt/mskp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "97c25802c1ec6779",
        "x": 1610,
        "y": 920,
        "wires": []
    },
    {
        "id": "e23c56572be5a33b",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload.response",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "度",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 910,
        "y": 1220,
        "wires": [
            [
                "fc8d98319c44c2c6"
            ]
        ]
    },
    {
        "id": "fc8d98319c44c2c6",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "精简文字",
        "rules": [
            {
                "t": "change",
                "p": "payload.response",
                "pt": "msg",
                "from": "/ù让小优看看，空调现在是",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload.response",
                "pt": "msg",
                "from": "/ù空调当前温度为",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload.response",
                "pt": "msg",
                "from": "/ù空调现在的温度是",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload.response",
                "pt": "msg",
                "from": "/ù空调刚刚报告说现在的温度是",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload.response",
                "pt": "msg",
                "from": "/ù空调当前温度为",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload.response",
                "pt": "msg",
                "from": "/ù现在空调是",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload.response",
                "pt": "msg",
                "from": "希望是你喜欢的温度",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload.response",
                "pt": "msg",
                "from": "，",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload.response",
                "pt": "msg",
                "from": "度",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload.response",
                "pt": "msg",
                "from": "哦",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload.response",
                "pt": "msg",
                "from": "呢",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 1220,
        "wires": [
            [
                "06a480e7d0fd466f"
            ]
        ]
    },
    {
        "id": "4552242fb2ea5aed",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "主卧空调当前温度",
        "topic": "/zwkt/wd",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "97c25802c1ec6779",
        "x": 1630,
        "y": 1400,
        "wires": []
    },
    {
        "id": "93af54453ed63b72",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "热水器状态查看",
        "topic": "/rsq/zt",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "97c25802c1ec6779",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 320,
        "wires": [
            [
                "a2e477b698d2a7d1"
            ]
        ]
    },
    {
        "id": "1ddddd661f7e2c4b",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "主卧空调状态查看",
        "topic": "/zwkt/zt",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "97c25802c1ec6779",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 1020,
        "wires": [
            [
                "df1e01ebd7104001"
            ]
        ]
    },
    {
        "id": "b5584345b8d6447c",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "获取空调开关机命令",
        "topic": "/zwkt/onoff/cmd",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "97c25802c1ec6779",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 880,
        "wires": [
            [
                "520c06b1c8ae4c72"
            ]
        ]
    },
    {
        "id": "520c06b1c8ae4c72",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 880,
        "wires": [
            [
                "7cc07217eb2ae103"
            ],
            [
                "08555445893e7ab3"
            ]
        ]
    },
    {
        "id": "1e1aec4b2cd799db",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "返回主卧空调开关机状态",
        "topic": "/zwkt/onoff/state",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "97c25802c1ec6779",
        "x": 1630,
        "y": 780,
        "wires": []
    },
    {
        "id": "d998775cdad7c8ec",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "开关机判断",
        "property": "payload.response",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "开机",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "关机",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1030,
        "y": 780,
        "wires": [
            [
                "ea371ccf3751f6fb"
            ],
            [
                "3793fd9235ae08af"
            ]
        ],
        "outputLabels": [
            "0",
            ""
        ]
    },
    {
        "id": "ea371ccf3751f6fb",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "开机",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 760,
        "wires": [
            [
                "1e1aec4b2cd799db"
            ]
        ]
    },
    {
        "id": "3793fd9235ae08af",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "关机",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 800,
        "wires": [
            [
                "1e1aec4b2cd799db",
                "c1dbfde9c9f37080",
                "8d460da64ec19581"
            ]
        ]
    },
    {
        "id": "b2f54fdfaa9b6197",
        "type": "haier-roboot",
        "z": "f6f2187d.f17ca8",
        "haier": "af1506d3a6f64576",
        "name": "主卧空调",
        "message": "主卧空调开关状态",
        "x": 880,
        "y": 780,
        "wires": [
            [
                "d998775cdad7c8ec"
            ]
        ]
    },
    {
        "id": "5b442e347240ba70",
        "type": "delay",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 740,
        "y": 1400,
        "wires": [
            [
                "39492c8b8052270b"
            ]
        ]
    },
    {
        "id": "dbc8faa9d406b932",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "热水器零冷水单次循环",
        "topic": "/rsq/1rls",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "97c25802c1ec6779",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 480,
        "wires": [
            [
                "d8df0d580e193c8b"
            ]
        ]
    },
    {
        "id": "e951737308b348ec",
        "type": "delay",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 735.0000686645508,
        "y": 1102.5000114440918,
        "wires": [
            [
                "20151b03fb3f0465"
            ]
        ]
    },
    {
        "id": "9b3077e1fcb79716",
        "type": "delay",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 740,
        "y": 940,
        "wires": [
            [
                "6ccb73c27ada65f3"
            ]
        ]
    },
    {
        "id": "773bc0664193e467",
        "type": "delay",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 720,
        "y": 780,
        "wires": [
            [
                "b2f54fdfaa9b6197"
            ]
        ]
    },
    {
        "id": "1887aaee27b5235e",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "送风",
        "func": "msg.payload = \"fan_only\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1187.5000343322754,
        "y": 961.2500057220459,
        "wires": [
            [
                "afe38cd9997ee80f"
            ]
        ]
    },
    {
        "id": "22fa5ad8c81c3b00",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "制冷",
        "func": "msg.payload = \"cool\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1187.5000343322754,
        "y": 841.2500057220459,
        "wires": [
            [
                "afe38cd9997ee80f"
            ]
        ]
    },
    {
        "id": "d981c2a9799ff794",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "制热",
        "func": "msg.payload = \"heat\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1187.5000343322754,
        "y": 881.2500057220459,
        "wires": [
            [
                "afe38cd9997ee80f"
            ]
        ]
    },
    {
        "id": "f60dd84faa40b554",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "除湿",
        "func": "msg.payload = \"dry\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1187.5000343322754,
        "y": 921.2500057220459,
        "wires": [
            [
                "afe38cd9997ee80f"
            ]
        ]
    },
    {
        "id": "dda6913c14bd99f2",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "智能",
        "func": "msg.payload = \"auto\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1187.5000343322754,
        "y": 1001.2500057220459,
        "wires": [
            [
                "afe38cd9997ee80f"
            ]
        ]
    },
    {
        "id": "46ef603c9e1c149a",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "自动风",
        "func": "msg.payload = \"auto\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1187.5000343322754,
        "y": 1161.250005722046,
        "wires": [
            [
                "8b5368a9653c90b2"
            ]
        ]
    },
    {
        "id": "1354435701aee430",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "低风",
        "func": "msg.payload = \"low\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1187.5000343322754,
        "y": 1041.250005722046,
        "wires": [
            [
                "8b5368a9653c90b2"
            ]
        ]
    },
    {
        "id": "e03640967df824e2",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "中风",
        "func": "msg.payload = \"medium\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1187.5000343322754,
        "y": 1081.250005722046,
        "wires": [
            [
                "8b5368a9653c90b2"
            ]
        ]
    },
    {
        "id": "be88283184f1fc9b",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "高风",
        "func": "msg.payload = \"high\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1187.5000343322754,
        "y": 1121.250005722046,
        "wires": [
            [
                "8b5368a9653c90b2"
            ]
        ]
    },
    {
        "id": "06a480e7d0fd466f",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "当前温度",
        "func": "msg.payload = msg.payload.response\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 1220,
        "wires": [
            [
                "aa0fc37bd4c0feb0"
            ]
        ]
    },
    {
        "id": "df1e01ebd7104001",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "无",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1020,
        "wires": [
            [
                "9b3077e1fcb79716",
                "e951737308b348ec",
                "5b442e347240ba70",
                "773bc0664193e467"
            ]
        ]
    },
    {
        "id": "d36c45dd602ab35d",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "热水器温度设置",
        "topic": "/rsq/wdcmd",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "97c25802c1ec6779",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 400,
        "wires": [
            [
                "6697bbb486932bae"
            ]
        ]
    },
    {
        "id": "1455df49db055a1e",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "无",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 240,
        "wires": [
            [
                "a2e477b698d2a7d1"
            ]
        ]
    },
    {
        "id": "a2e477b698d2a7d1",
        "type": "delay",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 720,
        "y": 320,
        "wires": [
            [
                "3eaa204e3fd6d84b"
            ]
        ]
    },
    {
        "id": "59febfd3da899fa7",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "当前温度",
        "func": "msg.payload = msg.payload.response\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 600,
        "wires": [
            [
                "50bd77fb0281fb64"
            ]
        ]
    },
    {
        "id": "0fdffa2947dc9642",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "当前状态",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 380,
        "y": 1100,
        "wires": [
            [
                "df1e01ebd7104001"
            ]
        ]
    },
    {
        "id": "6263414fc77dbd5d",
        "type": "haier-roboot",
        "z": "f6f2187d.f17ca8",
        "haier": "af1506d3a6f64576",
        "name": "燃气热水器",
        "message": "打开热水器单次循环",
        "x": 510,
        "y": 460,
        "wires": [
            [
                "a2e477b698d2a7d1",
                "420f8cf02c6b24c8"
            ]
        ]
    },
    {
        "id": "d8df0d580e193c8b",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 480,
        "wires": [
            [
                "6263414fc77dbd5d"
            ],
            [
                "f9693fd08dc8013d"
            ]
        ]
    },
    {
        "id": "f9693fd08dc8013d",
        "type": "haier-roboot",
        "z": "f6f2187d.f17ca8",
        "haier": "af1506d3a6f64576",
        "name": "燃气热水器",
        "message": "关闭热水器单次循环",
        "x": 510,
        "y": 520,
        "wires": [
            [
                "a2e477b698d2a7d1"
            ]
        ]
    },
    {
        "id": "50bd77fb0281fb64",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 600,
        "wires": []
    },
    {
        "id": "aa0fc37bd4c0feb0",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 1220,
        "wires": []
    },
    {
        "id": "6717acb862d00b4d",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 1020,
        "wires": []
    },
    {
        "id": "05675f2ba05bc95b",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload.response",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "35",
                "vt": "num"
            },
            {
                "t": "cont",
                "v": "36",
                "vt": "num"
            },
            {
                "t": "cont",
                "v": "37",
                "vt": "num"
            },
            {
                "t": "cont",
                "v": "38",
                "vt": "num"
            },
            {
                "t": "cont",
                "v": "39",
                "vt": "num"
            },
            {
                "t": "cont",
                "v": "40",
                "vt": "num"
            },
            {
                "t": "cont",
                "v": "41",
                "vt": "num"
            },
            {
                "t": "cont",
                "v": "42",
                "vt": "num"
            },
            {
                "t": "cont",
                "v": "43",
                "vt": "num"
            },
            {
                "t": "cont",
                "v": "44",
                "vt": "num"
            },
            {
                "t": "cont",
                "v": "45",
                "vt": "num"
            },
            {
                "t": "cont",
                "v": "46",
                "vt": "num"
            },
            {
                "t": "cont",
                "v": "47",
                "vt": "num"
            },
            {
                "t": "cont",
                "v": "48",
                "vt": "num"
            },
            {
                "t": "cont",
                "v": "49",
                "vt": "num"
            },
            {
                "t": "cont",
                "v": "50",
                "vt": "num"
            },
            {
                "t": "cont",
                "v": "51",
                "vt": "num"
            },
            {
                "t": "cont",
                "v": "52",
                "vt": "num"
            },
            {
                "t": "cont",
                "v": "53",
                "vt": "num"
            },
            {
                "t": "cont",
                "v": "54",
                "vt": "num"
            },
            {
                "t": "cont",
                "v": "55",
                "vt": "num"
            },
            {
                "t": "cont",
                "v": "56",
                "vt": "num"
            },
            {
                "t": "cont",
                "v": "57",
                "vt": "num"
            },
            {
                "t": "cont",
                "v": "58",
                "vt": "num"
            },
            {
                "t": "cont",
                "v": "59",
                "vt": "num"
            },
            {
                "t": "cont",
                "v": "60",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 26,
        "x": 930,
        "y": 320,
        "wires": [
            [
                "5ac00f078c7a9c97"
            ],
            [
                "8b543a0e3cc81273"
            ],
            [
                "c89531c4528fe96a"
            ],
            [
                "ef1ee01abaf18aaa"
            ],
            [
                "dc4e943066c7c20b"
            ],
            [
                "62f827edab9315f4"
            ],
            [
                "9c2b37432222f460"
            ],
            [
                "dd33b82345b70e02"
            ],
            [
                "0f29532746ef842b"
            ],
            [
                "a8b792be0bef71e6"
            ],
            [
                "8712a1c27c9bb06c"
            ],
            [
                "3a35f33353a7823d"
            ],
            [
                "4a88706864ef3668"
            ],
            [
                "d311b58bef1536f8"
            ],
            [
                "052f1f2d8d3fb688"
            ],
            [
                "c5b9912f922d3859"
            ],
            [
                "2a81e62cfe391a1f"
            ],
            [
                "0002026dc37058b3"
            ],
            [
                "4afe1473a43aaa2b"
            ],
            [
                "c80e4f65d5f24042"
            ],
            [
                "d2c4335077f41abc"
            ],
            [
                "87f39e487552b8ee"
            ],
            [
                "06eb3eebd23c61a4"
            ],
            [
                "4733aead1a0f3ff2"
            ],
            [
                "e56cfa267642068c"
            ],
            [
                "67e23f9e9eb5d65e"
            ]
        ],
        "outputLabels": [
            "35",
            "36",
            "37",
            "38",
            "39",
            "40",
            "41",
            "42",
            "43",
            "44",
            "45",
            "46",
            "47",
            "48",
            "49",
            "50",
            "51",
            "52",
            "53",
            "54",
            "55",
            "56",
            "57",
            "58",
            "59",
            "60"
        ]
    },
    {
        "id": "88f6fef773e64cc4",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 60,
        "wires": []
    },
    {
        "id": "5ac00f078c7a9c97",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "35",
        "func": "msg.payload = \"35\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 60,
        "wires": [
            [
                "23c2ffca906b577c"
            ]
        ]
    },
    {
        "id": "8b543a0e3cc81273",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "36",
        "func": "msg.payload = \"36\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 80,
        "wires": [
            [
                "23c2ffca906b577c"
            ]
        ]
    },
    {
        "id": "c89531c4528fe96a",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "37",
        "func": "msg.payload = \"37\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 100,
        "wires": [
            [
                "23c2ffca906b577c"
            ]
        ]
    },
    {
        "id": "ef1ee01abaf18aaa",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "38",
        "func": "msg.payload = \"38\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 120,
        "wires": [
            [
                "23c2ffca906b577c"
            ]
        ]
    },
    {
        "id": "dc4e943066c7c20b",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "39",
        "func": "msg.payload = \"39\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 140,
        "wires": [
            [
                "23c2ffca906b577c"
            ]
        ]
    },
    {
        "id": "62f827edab9315f4",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "40",
        "func": "msg.payload = \"40\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 160,
        "wires": [
            [
                "23c2ffca906b577c"
            ]
        ]
    },
    {
        "id": "9c2b37432222f460",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "41",
        "func": "msg.payload = \"41\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 180,
        "wires": [
            [
                "23c2ffca906b577c"
            ]
        ]
    },
    {
        "id": "dd33b82345b70e02",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "42",
        "func": "msg.payload = \"42\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 200,
        "wires": [
            [
                "23c2ffca906b577c"
            ]
        ]
    },
    {
        "id": "0f29532746ef842b",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "43",
        "func": "msg.payload = \"43\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 220,
        "wires": [
            [
                "23c2ffca906b577c"
            ]
        ]
    },
    {
        "id": "a8b792be0bef71e6",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "44",
        "func": "msg.payload = \"44\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 240,
        "wires": [
            [
                "23c2ffca906b577c"
            ]
        ]
    },
    {
        "id": "8712a1c27c9bb06c",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "45",
        "func": "msg.payload = \"45\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 260,
        "wires": [
            [
                "23c2ffca906b577c"
            ]
        ]
    },
    {
        "id": "3a35f33353a7823d",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "46",
        "func": "msg.payload = \"46\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 280,
        "wires": [
            [
                "23c2ffca906b577c"
            ]
        ]
    },
    {
        "id": "4a88706864ef3668",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "47",
        "func": "msg.payload = \"47\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 300,
        "wires": [
            [
                "23c2ffca906b577c"
            ]
        ]
    },
    {
        "id": "d311b58bef1536f8",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "48",
        "func": "msg.payload = \"48\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 320,
        "wires": [
            [
                "23c2ffca906b577c"
            ]
        ]
    },
    {
        "id": "052f1f2d8d3fb688",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "49",
        "func": "msg.payload = \"49\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 340,
        "wires": [
            [
                "23c2ffca906b577c"
            ]
        ]
    },
    {
        "id": "c5b9912f922d3859",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "50",
        "func": "msg.payload = \"50\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 360,
        "wires": [
            [
                "23c2ffca906b577c"
            ]
        ]
    },
    {
        "id": "2a81e62cfe391a1f",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "51",
        "func": "msg.payload = \"51\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 380,
        "wires": [
            [
                "23c2ffca906b577c"
            ]
        ]
    },
    {
        "id": "0002026dc37058b3",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "52",
        "func": "msg.payload = \"52\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 400,
        "wires": [
            [
                "23c2ffca906b577c"
            ]
        ]
    },
    {
        "id": "4afe1473a43aaa2b",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "53",
        "func": "msg.payload = \"53\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 420,
        "wires": [
            [
                "23c2ffca906b577c"
            ]
        ]
    },
    {
        "id": "c80e4f65d5f24042",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "54",
        "func": "msg.payload = \"54\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 440,
        "wires": [
            [
                "23c2ffca906b577c"
            ]
        ]
    },
    {
        "id": "d2c4335077f41abc",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "55",
        "func": "msg.payload = \"55\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 460,
        "wires": [
            [
                "23c2ffca906b577c"
            ]
        ]
    },
    {
        "id": "87f39e487552b8ee",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "56",
        "func": "msg.payload = \"56\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 480,
        "wires": [
            [
                "23c2ffca906b577c"
            ]
        ]
    },
    {
        "id": "06eb3eebd23c61a4",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "57",
        "func": "msg.payload = \"57\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 500,
        "wires": [
            [
                "23c2ffca906b577c"
            ]
        ]
    },
    {
        "id": "4733aead1a0f3ff2",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "58",
        "func": "msg.payload = \"58\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 520,
        "wires": [
            [
                "23c2ffca906b577c"
            ]
        ]
    },
    {
        "id": "e56cfa267642068c",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "59",
        "func": "msg.payload = \"59\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 540,
        "wires": [
            [
                "23c2ffca906b577c"
            ]
        ]
    },
    {
        "id": "67e23f9e9eb5d65e",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "60",
        "func": "msg.payload = \"60\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 560,
        "wires": [
            [
                "23c2ffca906b577c"
            ]
        ]
    },
    {
        "id": "53d14c83f780559b",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload.response",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "16",
                "vt": "num"
            },
            {
                "t": "cont",
                "v": "17",
                "vt": "num"
            },
            {
                "t": "cont",
                "v": "18",
                "vt": "num"
            },
            {
                "t": "cont",
                "v": "19",
                "vt": "num"
            },
            {
                "t": "cont",
                "v": "20",
                "vt": "num"
            },
            {
                "t": "cont",
                "v": "21",
                "vt": "num"
            },
            {
                "t": "cont",
                "v": "22",
                "vt": "num"
            },
            {
                "t": "cont",
                "v": "23",
                "vt": "num"
            },
            {
                "t": "cont",
                "v": "24",
                "vt": "num"
            },
            {
                "t": "cont",
                "v": "25",
                "vt": "num"
            },
            {
                "t": "cont",
                "v": "26",
                "vt": "num"
            },
            {
                "t": "cont",
                "v": "27",
                "vt": "num"
            },
            {
                "t": "cont",
                "v": "28",
                "vt": "num"
            },
            {
                "t": "cont",
                "v": "29",
                "vt": "num"
            },
            {
                "t": "cont",
                "v": "30",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 15,
        "x": 1030,
        "y": 1400,
        "wires": [
            [
                "e1451aaf532ea42d"
            ],
            [
                "7084e04d55a04bba"
            ],
            [
                "e14996ea46cad21d"
            ],
            [
                "8eda44af811ae875"
            ],
            [
                "d0c8f1c90bc17c9d"
            ],
            [
                "f7bd9316fe03f959"
            ],
            [
                "406a72895d9390b0"
            ],
            [
                "246eb31c450d5949"
            ],
            [
                "16cb8c6009e17743"
            ],
            [
                "565fc90be575ea57"
            ],
            [
                "aafe7fc5c7ab4354"
            ],
            [
                "82d1daf6e61dca5e"
            ],
            [
                "d9db3985e79c6178"
            ],
            [
                "5bfd772bc36952c9"
            ],
            [
                "9ccf1e771466df81"
            ]
        ],
        "outputLabels": [
            "16",
            "17",
            "18",
            "19",
            "20",
            "21",
            "22",
            "23",
            "24",
            "25",
            "26",
            "27",
            "28",
            "29",
            "30"
        ]
    },
    {
        "id": "e1451aaf532ea42d",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "16",
        "func": "msg.payload = \"16\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 1260,
        "wires": [
            [
                "4552242fb2ea5aed"
            ]
        ]
    },
    {
        "id": "7084e04d55a04bba",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "17",
        "func": "msg.payload = \"17\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 1280,
        "wires": [
            [
                "4552242fb2ea5aed"
            ]
        ]
    },
    {
        "id": "e14996ea46cad21d",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "18",
        "func": "msg.payload = \"18\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 1300,
        "wires": [
            [
                "4552242fb2ea5aed"
            ]
        ]
    },
    {
        "id": "8eda44af811ae875",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "19",
        "func": "msg.payload = \"19\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 1320,
        "wires": [
            [
                "4552242fb2ea5aed"
            ]
        ]
    },
    {
        "id": "d0c8f1c90bc17c9d",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "20",
        "func": "msg.payload = \"20\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 1340,
        "wires": [
            [
                "4552242fb2ea5aed"
            ]
        ]
    },
    {
        "id": "f7bd9316fe03f959",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "21",
        "func": "msg.payload = \"21\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 1360,
        "wires": [
            [
                "4552242fb2ea5aed"
            ]
        ]
    },
    {
        "id": "406a72895d9390b0",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "22",
        "func": "msg.payload = \"22\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 1380,
        "wires": [
            [
                "4552242fb2ea5aed"
            ]
        ]
    },
    {
        "id": "246eb31c450d5949",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "23",
        "func": "msg.payload = \"23\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 1400,
        "wires": [
            [
                "4552242fb2ea5aed"
            ]
        ]
    },
    {
        "id": "16cb8c6009e17743",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "24",
        "func": "msg.payload = \"24\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 1420,
        "wires": [
            [
                "4552242fb2ea5aed"
            ]
        ]
    },
    {
        "id": "565fc90be575ea57",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "25",
        "func": "msg.payload = \"25\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 1440,
        "wires": [
            [
                "4552242fb2ea5aed"
            ]
        ]
    },
    {
        "id": "aafe7fc5c7ab4354",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "26",
        "func": "msg.payload = \"26\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 1460,
        "wires": [
            [
                "4552242fb2ea5aed"
            ]
        ]
    },
    {
        "id": "82d1daf6e61dca5e",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "27",
        "func": "msg.payload = \"27\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 1480,
        "wires": [
            [
                "4552242fb2ea5aed"
            ]
        ]
    },
    {
        "id": "d9db3985e79c6178",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "28",
        "func": "msg.payload = \"28\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 1500,
        "wires": [
            [
                "4552242fb2ea5aed"
            ]
        ]
    },
    {
        "id": "5bfd772bc36952c9",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "29",
        "func": "msg.payload = \"29\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 1520,
        "wires": [
            [
                "4552242fb2ea5aed"
            ]
        ]
    },
    {
        "id": "9ccf1e771466df81",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "30",
        "func": "msg.payload = \"30\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 1540,
        "wires": [
            [
                "4552242fb2ea5aed"
            ]
        ]
    },
    {
        "id": "47995a38a3e8be24",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 1540,
        "wires": []
    },
    {
        "id": "0e5598572970faa4",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 1240,
        "wires": []
    },
    {
        "id": "420f8cf02c6b24c8",
        "type": "delay",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 720,
        "y": 600,
        "wires": [
            [
                "f9693fd08dc8013d"
            ]
        ]
    },
    {
        "id": "15ed9f7ca6499519",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "组合tts",
        "func": "msg.payload = \"主卧空调模式改为\" + msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 1660,
        "wires": [
            [
                "b4d72db705de8cf0",
                "920345e8b999f5fd",
                "6feb31b540b9c1c0"
            ]
        ]
    },
    {
        "id": "3229ff2f737fa1d3",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "组合tts",
        "func": "msg.payload = \"主卧空调风速改为\" + msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 1480,
        "wires": [
            [
                "451421f010dc6e18"
            ]
        ]
    },
    {
        "id": "1814b306086d579c",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "组合tts",
        "func": "msg.payload = \"主卧空调温度改为\" + msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 1360,
        "wires": [
            [
                "451421f010dc6e18"
            ]
        ]
    },
    {
        "id": "dc73797fd493f0c3",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "主卧空调模式设置",
        "topic": "/zwkt/mscmd",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "97c25802c1ec6779",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 1660,
        "wires": [
            [
                "a47f4c7793507301",
                "6606dd23619217b7"
            ]
        ]
    },
    {
        "id": "72413c933d7eee3a",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "主卧空调风速设置",
        "topic": "/zwkt/fscmd",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "97c25802c1ec6779",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 1480,
        "wires": [
            [
                "08d715f95329a2b1"
            ]
        ]
    },
    {
        "id": "a42d9b0aec41f077",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "主卧空调温度设置",
        "topic": "/zwkt/wdcmd",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "97c25802c1ec6779",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 1360,
        "wires": [
            [
                "1814b306086d579c"
            ]
        ]
    },
    {
        "id": "3b258862dd74ab72",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "送风",
        "func": "msg.payload = \"送风\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1700,
        "wires": [
            [
                "15ed9f7ca6499519"
            ]
        ]
    },
    {
        "id": "e2a634def4406df9",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "制冷",
        "func": "msg.payload = \"制冷\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1580,
        "wires": [
            [
                "15ed9f7ca6499519"
            ]
        ]
    },
    {
        "id": "579f5633cf06dbcd",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "制热",
        "func": "msg.payload = \"制热\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1620,
        "wires": [
            [
                "15ed9f7ca6499519"
            ]
        ]
    },
    {
        "id": "79a0e454f45c9094",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "除湿",
        "func": "msg.payload = \"除湿\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1660,
        "wires": [
            [
                "15ed9f7ca6499519"
            ]
        ]
    },
    {
        "id": "bdcb7dc9eaf8b58b",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "智能",
        "func": "msg.payload = \"智能\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1740,
        "wires": [
            [
                "15ed9f7ca6499519"
            ]
        ]
    },
    {
        "id": "a47f4c7793507301",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "模式判断",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "cool",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "制冷",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "heat",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "制热",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "dry",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "除湿",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "fan_only",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "送风",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "auto",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "智能",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 10,
        "x": 340,
        "y": 1660,
        "wires": [
            [
                "e2a634def4406df9"
            ],
            [
                "e2a634def4406df9"
            ],
            [
                "579f5633cf06dbcd"
            ],
            [
                "579f5633cf06dbcd"
            ],
            [
                "79a0e454f45c9094"
            ],
            [
                "79a0e454f45c9094"
            ],
            [
                "3b258862dd74ab72"
            ],
            [
                "3b258862dd74ab72"
            ],
            [
                "bdcb7dc9eaf8b58b"
            ],
            [
                "bdcb7dc9eaf8b58b"
            ]
        ]
    },
    {
        "id": "08d715f95329a2b1",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "风速判断",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "low",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "低风",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "medium",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "中风",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "high",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "高风",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "auto",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "自动风",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 8,
        "x": 300,
        "y": 1480,
        "wires": [
            [
                "416dd4e2b3bc37e2"
            ],
            [
                "416dd4e2b3bc37e2"
            ],
            [
                "710bd1fe619cb6e1"
            ],
            [
                "710bd1fe619cb6e1"
            ],
            [
                "0cead0cbab4118fe"
            ],
            [
                "0cead0cbab4118fe"
            ],
            [
                "72c8f4047a06f805"
            ],
            [
                "72c8f4047a06f805"
            ]
        ]
    },
    {
        "id": "72c8f4047a06f805",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "自动风",
        "func": "msg.payload = \"自动风\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1540,
        "wires": [
            [
                "3229ff2f737fa1d3"
            ]
        ]
    },
    {
        "id": "416dd4e2b3bc37e2",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "低风",
        "func": "msg.payload = \"低风\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1420,
        "wires": [
            [
                "3229ff2f737fa1d3"
            ]
        ]
    },
    {
        "id": "710bd1fe619cb6e1",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "中风",
        "func": "msg.payload = \"中风\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1460,
        "wires": [
            [
                "3229ff2f737fa1d3"
            ]
        ]
    },
    {
        "id": "0cead0cbab4118fe",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "高风",
        "func": "msg.payload = \"高风\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1500,
        "wires": [
            [
                "3229ff2f737fa1d3"
            ]
        ]
    },
    {
        "id": "09a86e769516ee46",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "主卧空调当前风速",
        "topic": "/zwkt/fs",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "97c25802c1ec6779",
        "x": 1610,
        "y": 1120,
        "wires": []
    },
    {
        "id": "401f9fedcae3baa6",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "主卧空调当前模式",
        "topic": "/zwkt/ms",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "97c25802c1ec6779",
        "x": 1610,
        "y": 960,
        "wires": []
    },
    {
        "id": "9fa34043c135a1a2",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "送风",
        "func": "msg.payload = \"送风\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 980,
        "wires": [
            [
                "401f9fedcae3baa6"
            ]
        ]
    },
    {
        "id": "b3c2cc90b74e0c5f",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "制冷",
        "func": "msg.payload = \"制冷\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 860,
        "wires": [
            [
                "401f9fedcae3baa6"
            ]
        ]
    },
    {
        "id": "f631e032895f94b4",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "制热",
        "func": "msg.payload = \"制热\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 900,
        "wires": [
            [
                "401f9fedcae3baa6"
            ]
        ]
    },
    {
        "id": "6be2b94964ce9372",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "除湿",
        "func": "msg.payload = \"除湿\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 940,
        "wires": [
            [
                "401f9fedcae3baa6"
            ]
        ]
    },
    {
        "id": "c97b9b55c325f8df",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "智能",
        "func": "msg.payload = \"智能\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 1020,
        "wires": [
            [
                "401f9fedcae3baa6"
            ]
        ]
    },
    {
        "id": "2210bab82fd435b2",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "自动风",
        "func": "msg.payload = \"自动风\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 1180,
        "wires": [
            [
                "09a86e769516ee46"
            ]
        ]
    },
    {
        "id": "c67fe5f61ab45106",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "低风",
        "func": "msg.payload = \"低风\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 1060,
        "wires": [
            [
                "09a86e769516ee46"
            ]
        ]
    },
    {
        "id": "b09d2dc7d36e957e",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "中风",
        "func": "msg.payload = \"中风\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 1100,
        "wires": [
            [
                "09a86e769516ee46"
            ]
        ]
    },
    {
        "id": "3a711cd2a7eb779b",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "高风",
        "func": "msg.payload = \"高风\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 1140,
        "wires": [
            [
                "09a86e769516ee46"
            ]
        ]
    },
    {
        "id": "6feb31b540b9c1c0",
        "type": "haier-roboot",
        "z": "f6f2187d.f17ca8",
        "haier": "af1506d3a6f64576",
        "name": "主卧空调",
        "message": "打开主卧空调",
        "x": 780,
        "y": 1720,
        "wires": [
            [
                "8fb50d9470890aa6"
            ]
        ]
    },
    {
        "id": "b4d72db705de8cf0",
        "type": "delay",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 780,
        "y": 1640,
        "wires": [
            [
                "451421f010dc6e18",
                "768f36e9254b40cc"
            ]
        ]
    },
    {
        "id": "f191511523e4452f",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 720,
        "wires": []
    },
    {
        "id": "05a0ccaeafef423b",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 820,
        "wires": []
    },
    {
        "id": "0bdeadd2c9abd082",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 750,
        "y": 740,
        "wires": [
            [
                "b2f54fdfaa9b6197"
            ]
        ]
    },
    {
        "id": "8fb50d9470890aa6",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 1700,
        "wires": []
    },
    {
        "id": "920345e8b999f5fd",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 21",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 1640,
        "wires": []
    },
    {
        "id": "768f36e9254b40cc",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 22",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 1600,
        "wires": []
    },
    {
        "id": "6606dd23619217b7",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 1800,
        "wires": []
    },
    {
        "id": "c1dbfde9c9f37080",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "关状态",
        "func": "msg.payload = \"off\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 820,
        "wires": [
            [
                "afe38cd9997ee80f"
            ]
        ]
    },
    {
        "id": "8d460da64ec19581",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "关状态",
        "func": "msg.payload = \"关\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 860,
        "wires": [
            [
                "401f9fedcae3baa6"
            ]
        ]
    },
    {
        "id": "af1506d3a6f64576",
        "type": "haier-configurator",
        "name": "我们的家"
    },
    {
        "id": "97c25802c1ec6779",
        "type": "mqtt-broker",
        "name": "zjMQTT",
        "broker": "192.168.2.251",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]